<%= flash[:notice] %>

<h1>候選人列表</h1>

<ul>
<% @candidates.each do |candidate| %>
  <li><%= link_to candidate.name, candidate_path(candidate.id) %></li>
<% end %>
</ul>

<%= link_to '新增候選人', new_candidate_path, class: 'btn btn-primary btn-lg' %>