/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.field_with_errors {
  display: inline-block;

  input {
    border: 2px solid red;
  }
}

.avatar {
  border-radius: 50%;
  border: solid 1px black;
}

.nav-avatar {
  width: 30px;
  height: 30px;
}
