<h1>商品列表</h1>

<ul>
  <% @products.each do |product| %>
  <li>
    <%= link_to product.name, product %> | <%= product.price %>元
    <%= link_to "加入購物車", add_to_cart_product_path(product), class: 'btn btn-danger btn-sm', method: 'put' %>
  </li>
  <% end %>
</ul>
